@inherits LayoutComponentBase

<PageTitle>Spurt</PageTitle>

<HeadContent>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Amarante&display=swap">
</HeadContent>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>