@page "/game/{Code}"
@rendermode InteractiveServer

<PageTitle>Spur't | Spil</PageTitle>

<h1>Spur't Spil</h1>

@if (CurrentGame != null)
{
    <div>
        <h2>Spil @Code</h2>
        <p>Del denne kode med andre spillere, så de kan deltage i dit spil.</p>

        <div>
            <h3>Spillere (@CurrentGame.Players.Count)</h3>
            <ul>
                @foreach (var player in CurrentGame.Players)
                {
                    <li>
                        @player.User.Name
                        @if (player.IsCreator)
                        {
                            <span>(Vært)</span>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
}
else
{
    <p>Henter spil information...</p>
} 