@page "/game/{Code}"
@using Spurt.Components.Shared
@using Spurt.Domain.Games
@rendermode InteractiveServer

<PageTitle>Spur't | Spil</PageTitle>

<div class="text-center">
    <h1 class="game-code">@Code</h1>
</div>

@if (CurrentGame != null)
{
    <div>
        <p>Del denne kode med andre spillere, så de kan deltage i dit spil.</p>
        @switch (CurrentGame.State)
        {
            case GameState.WaitingForCategories:
                <GameWaitingForCategoriesView
                    Game="CurrentGame"
                    CurrentPlayer="_currentPlayer"
                    OnStartGame="StartGame"/>
                break;

            case GameState.InProgress:
                <GameInProgressView
                    Game="CurrentGame"
                    CurrentPlayer="_currentPlayer"
                    OnClueSelected="SelectClue"/>
                break;

            case GameState.ClueSelected:
                <ClueSelectedView
                    Game="CurrentGame"
                    CurrentPlayer="_currentPlayer"
                    OnBuzz="PressBuzz"/>
                break;

            case GameState.BuzzerPressed:
                <BuzzerPressedView
                    Game="CurrentGame"
                    CurrentPlayer="_currentPlayer"/>
                break;

            case GameState.Finished:
                <GameFinishedView
                    Game="CurrentGame"
                    CurrentPlayer="_currentPlayer"/>
                break;
        }
    </div>
}
else
{
    <LoadingIndicator/>
}

 