@page "/"
@using Spurt.Components.Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Spur't</h1>

@if (CurrentUser != null)
{
    <h2>Velkommen @CurrentUser.Name</h2>

    <div class="actions">
        @if (IsLoading)
        {
            <LoadingIndicator/>
        }
        else
        {
            <div>
                <button @onclick="CreateNewGame" class="button">Opret Nyt Spil</button>
            </div>

            <div>
                <h3>Eller deltag i et eksisterende spil</h3>
                <div>
                    <input @bind="GameCode" placeholder="Indtast spilkode"/>
                    <button @onclick="JoinGame" class="button">Deltag</button>
                </div>
            </div>
        }
    </div>
}
