@page "/"
@using Spurt.Components.Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="page-container">
    <div class="container-sm">
        @if (CurrentUser != null)
        {
            <div class="actions">
                @if (IsLoading)
                {
                    <LoadingIndicator/>
                }
                else
                {
                    <div class="text-center">
                        <button @onclick="CreateNewGame" class="btn btn-large">Opret Nyt Spil</button>
                    </div>

                    <div class="text-center">
                        <h3>Eller deltag i et eksisterende spil</h3>
                        <div class="flex-container flex-column flex-center">
                            <input @bind="GameCode" placeholder="Indtast spilkode" class="input"/>
                            <button @onclick="JoinGame" class="btn">Deltag</button>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
