@page "/"
@using Spurt.Components.Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<PubContainer>
    @if (CurrentUser != null)
    {
        <div class="pub-actions">
            @if (IsLoading)
            {
                <LoadingIndicator/>
            }
            else
            {
                <div class="pub-text-center">
                    <button @onclick="CreateNewGame" class="pub-btn-large">Opret Nyt Spil</button>
                </div>

                <div class="pub-text-center">
                    <h3 class="pub-heading">Eller deltag i et eksisterende spil</h3>
                    <div class="pub-flex-container flex-column flex-center">
                        <input @bind="GameCode" placeholder="Indtast spilkode" class="pub-input"/>
                        <button @onclick="JoinGame" class="pub-btn">Deltag</button>
                    </div>
                </div>
            }
        </div>
    }
</PubContainer>
