@page "/register"
@using Spurt.Components.Shared
@rendermode InteractiveServer

<PageTitle>Spur't | Registrer</PageTitle>

<PubContainer>
    <EditForm Model="Model" OnValidSubmit="Submit">
        <div class="pub-form-group">
            <label for="userName" class="pub-label">Hvad hedder du?</label>
            <InputText id="userName" @bind-Value="Model!.Name" placeholder="Navn, tak..." class="pub-input"/>
        </div>
        <div class="form-actions">
            <button type="submit" class="pub-btn">Lad os gøre det!</button>
        </div>
    </EditForm>
</PubContainer>

