@page "/register"
@rendermode InteractiveServer

<PageTitle>Spur't | Registrer</PageTitle>

<h1>Registrer</h1>

<EditForm Model="Model" OnValidSubmit="Submit">
    <div class="form-group">
        <label for="userName">Dit navn</label>
        <InputText id="userName" @bind-Value="Model!.Name"/>
    </div>
    <div class="form-actions">
        <button type="submit">Registrer</button>
    </div>
</EditForm>

