<div class="categories-grid">
    @foreach (var category in Categories)
    {
        <div class="category">
            <h4>@category!.Title</h4>
            <div class="point-values">
                @foreach (var clue in category.Clues.OrderBy(c => c.PointValue))
                {
                    <button @onclick="() => OnClueSelected.InvokeAsync(clue)"
                            class="point-button">@clue.PointValue</button>
                }
            </div>
        </div>
    }
</div> 