<div>
    <h3>Spillet er i gang</h3>

    @if (SelectedClue != null)
    {
        <div class="selected-clue-container">
            <h3>Valgt ledetråd:</h3>
            <div class="selected-clue">
                <h4>Svar:</h4>
                <p>@SelectedClue.Answer</p>

                @if (IsClueOwner(SelectedClue))
                {
                    <h4>Spørgsmål:</h4>
                    <p>@SelectedClue.Question</p>
                }
            </div>
        </div>
    }
    else if (CurrentPlayer != null && Game.CurrentChoosingPlayerId == CurrentPlayer.Id)
    {
        <div>
            <p class="your-turn">Det er din tur til at vælge en kategori og pointværdi!</p>

            <GameBoard
                Categories="Game.Players.Select(p => p.Category!)"
                OnClueSelected="OnClueSelected"/>
        </div>
    }
    else
    {
        <p class="waiting-message">
            Venter på at
            <span
                class="player-name">@Game.Players.FirstOrDefault(p => p.Id == Game.CurrentChoosingPlayerId)?.User.Name</span>
            vælger en kategori og pointværdi...
        </p>
    }
</div> 